/*styles.css*/

.img.introduction {width: 1270px; height: 720px;}

p {font-size: 18px; font-family: 'Times New Roman', Times, serif;}

.container {
    display: flex;
}
.first-frame {
    flex: 1;
    border: 1px solid black;
    height: 3270px; /* Adjust height as needed */
    padding-top: 1%;
    font-size: 20px; 
    font-weight: bold;
}

.second-frame {
    flex: 1;
    border: 1px solid black;
    height: 3270px; /* Adjust height as needed */
    padding-top: 1%;
    font-size: 20px; 
    font-weight: bold;
    margin-top: 4%;
}

.third-frame {
    flex: 1;
    border: 1px solid black;
    height: 3750px; /* Adjust height as needed */
    padding-top: 1%;
    font-size: 20px; 
    font-weight: bold;
    margin-top: 4%;
}


.exercise-id {
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-top: 1%;
}


.circle {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px; /* Space between circle and text */
}

.id {
    font-size: 24px;
    text-decoration: none;
    color: blue;
}

.reps {padding-left: 12.3%;}

.img-inside-frame {width: 300px; height: 300px; padding-left: 2%;}

.advantages {line-height: 1.5;}
